{{>layout/header}}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">이름</th>
        <th scope="col">도로명 주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item"> <a class="page-link" href="?page={{previous}}">Previous</a></li>
    <li class="page-item"> <a class="page-link" href="?page={{next}}">Next</a></li>
</ul>
{{>layout/footer}}