{{>layout/header}}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>

    </tr>
    </thead>

    <tbody>
    {{#articles}}
        <tr>
            <th scope="row"> {{id}} </th>
            <td> <a href="/article/{{id}}"> {{title}}</a> </td>
            <td>{{content}}</td>
        </tr>
    {{/articles}}
    </tbody>
</table>
<a href="/article/new" class="btn btn-primary">New Article</a>
{{>layout/footer}}