{{>layout/header}}
<form action="/article"  class="container" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력 해주세요.">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button type="submit"  class="btn btn-primary">Submit</button>

</form>
{{>layout/footer}}

